:root {
  --primary-color: #e2622f98;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  display: block;
  border: 2px solid var(--primary-color);
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  background-size: 100% 200%; /* width height */
  background-image: linear-gradient(transparent 40%, var(--primary-color) 60%);
  transition: 0.3s;
}

.icon:hover {
  background-position: 0 100%;
  color: white;
  box-shadow: 0 0 0 5px rgba(154, 89, 181, 0.2);
}
