:root {
  --primary-color: #592fe298;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: block;
  border: 3px solid var(--primary-color);
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  background-size: 100% 200%; /*width height*/
  background-image: linear-gradient(transparent 50%, var(--primary-color) 50%);
}
